<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue vs React</title>
  <link rel="stylesheet" href="../node_modules/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="../node_modules/reveal.js/css/theme/black.css">
  <link rel="stylesheet" href="../node_modules/reveal.js/lib/css/zenburn.css">
  <style>
    .reveal table th,
    .reveal table td {
      padding-right: 1em;
      padding-left: 1em;
    }
    .reveal .smaller td:first-child {
      font-size: .65em;
    }
  </style>
</head>

<body>
  <div class="reveal">
    <div class="slides">

      <!-- #region intro -->
      <section>
        <h1>Vue vs React</h1>
      </section>
      <!-- #endregion intro -->

      <!-- #region framework -->
      <section>
        <section>
          <h2>What is the JS framework</h2>
          <img src="img/main-qimg-f5edb8bac30c2f2408b41ba650f3ed46.png" width="935" hwight="373" alt="JS framework schema">
          <aside class="notes">
            <p>Large bodies of predefined code</p>
            <p>Defines the entire application design</p>
          </aside>
        </section>

        <section>
          <ul>
            <li>interaction with DOM</li>
            <li class="fragment fade-in">routing between pages</li>
            <li class="fragment fade-in">data flow approach</li>
          </ul>
        </section>

      </section>
      <!-- #endregion framework -->

      <!-- #region comparison -->
      <section>
        <h2>Comparison</h2>
        <ul style="column-count: 2; column-gap: 120px;">
          <li>Learning curve</li>
          <li>Code style</li>
          <li>Ecosystem</li>
          <li>Performance</li>
          <li>Support</li>
          <li>Mobile</li>
          <li>Hiring</li>
          <li>Showcase</li>
          <li>Community</li>
          <li>Summary</li>
        </ul>
      </section>
      <!-- #endregion comparison -->

      <!-- #region learning -->
      <section>
        <section>
          <h2>Learning curve</h2>
        </section>

        <section>
          <h3>React</h3>
          <ul>
            <li>Well documentation</li>
            <li>JSX requires a good JS skills</li>
            <li>Great flexibility might be confusing for beginners</li>
          </ul>
          <aside class="notes">
            <p>React official documentation offer a couple of Getting Started guides that are decently written and give a decent walk-through to newcomers, but it's not as clear and organized as the official documentation for Vue.</p>
          </aside>
        </section>

        <section>
          <h3>Vue</h3>
          <ul>
            <li>Excellent documentation</li>
            <li>SFC templates are easy to learn</li>
            <li>More restrictive approach</li>
          </ul>
          <aside class="notes">
            <p>The official documentation for Vue is very well written, and covers just everything a developer would face while developing Vue apps. Vue is more tightly defined than React; that also means it is more opinionated.</p>
            <p>For Vue many questions are answered straight in the documentation itself, not needing to search too much in other places.</p>
          </aside>
        </section>
      </section>
      <!-- #endregion learning -->

      <!-- #region codestyle -->
      <section>
        <section>
          <h2>Code style</h2>
        </section>

        <section>
          <h3>React</h3>
          <p>JSX, which is a way of writing<br> HTML within JavaScript code.</p>
          <pre><code data-trim>
            render () {
              return (
                <ul>
                {
                  data.map(item => {
                    return <li>{ item.title }</li>
                  });
                }
                </ul>
              );
            }
          </code></pre>
        </section>

        <section>
          <h3>Vue</h3>
          <p>Vue templates is a way of writing<br> JavaScript within HTML code.</p>
          <pre><code data-trim>
            <ul>
              <li v-for="item in data">
                {{ item.title }}
              </li>
            </ul>
          </code></pre>
        </section>
      </section>
      <!-- #endregion codestyle -->

      <!-- #region ecosystem -->
      <section>
        <section>
          <h2>Ecosystem</h2>
        </section>

        <section>
          <h3>React</h3>
          <ul>
            <li>Routing: React Router (3rd party)</li>
            <li>Data flow: Redux (3rd party)</li>
            <li>Others: 64921 npm packages</li>
          </ul>
          <aside class="notes">
            <p>React leaves these concerns to the community, creating a more fragmented ecosystem. Being more popular though, React’s ecosystem is considerably richer than Vue’s.</p>
          </aside>
        </section>

        <section>
          <h3>Vue</h3>
          <ul>
            <li>Routing: Vue Router (official)</li>
            <li>Data flow: Vuex (official)</li>
            <li>Others: 17092 npm packages</li>
          </ul>
          <aside class="notes">
            <p>Vue’s companion libraries for state management and routing (among other concerns) are all officially supported and kept up-to-date with the core library.</p>
          </aside>
        </section>
      </section>
      <!-- #endregion ecosystem -->

      <!-- #region performance -->
      <section>
        <section>
          <h2>Performance</h2>
        </section>

        <section>
          <h3>How performant are frameworks?</h3>
          <p><img src="img/www.stefankrause.net_js-frameworks-benchmark7_table.html (2).png" width="481" height="487" alt="Performance" style="height: auto;"></p>
        </section>

        <section>
          <h3>Memory consumption</h3>
          <p><img src="img/www.stefankrause.net_js-frameworks-benchmark7_table.html (3).png" width="481" height="487" alt="Performance" style="height: auto;"></p>
        </section>

        <section>
          <h3>How big is the footprint?</h3>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>React</th>
                <th>Vue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Minified</th>
                <th>96.2kB</th>
                <th>60.2kB</th>
              </tr>
              <tr>
                <th>Gzipped</th>
                <th>31.6kB</th>
                <th>21.4kB</th>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h3>How big is the footprint?</h3>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>React router</th>
                <th>Vue router</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Minified</th>
                <th>30.4kB</th>
                <th>23.7kB</th>
              </tr>
              <tr>
                <th>Gzipped</th>
                <th>8.0kB</th>
                <th>8.2kB</th>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h3>How big is the footprint?</h3>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Redux</th>
                <th>Vuex</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Minified</th>
                <th>6.9kB</th>
                <th>9.6kB</th>
              </tr>
              <tr>
                <th>Gzipped</th>
                <th>2.5kB</th>
                <th>2.9kB</th>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
      <!-- #endregion performance -->

      <!-- #region support -->
      <section>
        <section>
          <h2>Support</h2>
        </section>

        <section>
          <h3>React</h3>
          <ul>
            <li>Founded and maintained by Facebook</li>
            <li>Team size is 10 dedicated developers</li>
            <li>Doesn’t have an actual roadmap, based on RFCs</li>
          </ul>
        </section>

        <section>
          <h3>Vue</h3>
          <ul>
            <li>Vue is an independent library, founded by Evan You</li>
            <li>The Vue team size includes 23 dedicated developers</li>
            <li>Vue has a high-level roadmap available online</li>
          </ul>
        </section>
      </section>
      <!-- #endregion support -->

      <!-- #region mobile -->
      <section>
        <section>
          <h2>Mobile</h2>
          <p>ReactNative
            <br>vs
            <br>NativeScript + Vue</p>
        </section>

        <section>
          <h3>React Native Pros</h3>
          <ul>
            <li>rich native UI experience</li>
            <li>great performance</li>
            <li>easy to learn</li>
          </ul>
        </section>

        <section>
          <h3>ReactNative Cons</h3>
          <ul>
            <li>higher CPU usage</li>
            <li>higher memory usage</li>
          </ul>
        </section>

        <section>
          <h3>Native Script + Vue Pros</h3>
          <ul>
            <li>full access to native API</li>
            <li>highly reusable code</li>
            <li>good performance</li>
          </ul>
        </section>

        <section>
          <h3>Native Script + Vue Cons</h3>
          <ul>
            <li>bigger app size</li>
            <li>slightly longer development time</li>
          </ul>
        </section>
      </section>
      <!-- #endregion mobile -->

      <!-- #region hiring -->
      <section>
        <section>
          <h2>Hiring</h2>
        </section>

        <section>
          <h3>React</h3>
          <p>Being the most popular framework out there these days, React has an advantage if you’re in the market for React developers.</p>
        </section>

        <section>
          <h3>Vue</h3>
          <p>Vue is the new “hotness” in the front-end industry. These days, it is not uncommon to find developers who have some experience with Vue.</p>
        </section>
      </section>
      <!-- #endregion hiring -->

      <!-- #region showcase -->
      <section>
        <section>
          <h2>Showcase</h2>
        </section>

        <section>
          <h3>React</h3>
          <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Netflix</li>
            <li>New York Times</li>
            <li>Yahoo! Mail</li>
            <li>Khan Academy</li>
            <li>WhatsApp</li>
            <li>Vivaldi Browser</li>
            <li>Codecademy</li>
            <li>Dropbox</li>
          </ul>
        </section>

        <section>
          <h3>Vue</h3>
          <ul>
            <li>Facebook Newsfeed</li>
            <li>Netflix</li>
            <li>Adobe</li>
            <li>Xiaomi</li>
            <li>Alibaba</li>
            <li>WizzAir</li>
            <li>Behance</li>
            <li>Grammarly</li>
            <li>Laracasts</li>
            <li>GitLab</li>
          </ul>
        </section>
      </section>
      <!-- #endregion hiring -->

      <!-- #region community -->
      <section>
        <section>
          <h2>Community</h2>
        </section>

        <section>
          <h3>★ GitHub stars ★</h3>
          <p>React: 111k</p>
          <p>Vue: 114k</p>
          <iframe class="fragment fade-in" width="300" height="313" src="https://hasvuepassedreactyet.surge.sh/"></iframe>
          <aside class="notes">
            <p>Developers' Likes counter</p>
          </aside>
        </section>

        <section>
          <h3>GitHub stars</h3>
          <table>
            <thead class="fragment fade-in">
              <tr>
                <th>year</th>
                <th>React</th>
                <th>Vue</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fragment fade-in">
                <td>2016</td>
                <td>+22.9k</td>
                <td>+26.4k</th>
              </tr>
              <tr class="fragment fade-in">
                <td>2017</td>
                <td>+27.8k</th>
                <td>+40.0k</td>
              </tr>
            </tbody>
          </table>
          <p class="fragment fade-in">Vue is 2016, 2017 trendiest project of the year</p>
        </section>

        <section>
          <h3>npm downloads</h3>
          <p>React: 2.6M downloads/month</p>
          <p>Vue: 0.5M downloads/month</p>
        </section>

        <section>
          <h3>Google search</h3>
          <p><img src="img/trends.google.com.png" width="927" height="392" alt=""></p>
        </section>

        <section>
          <h3>Interest & satisfaction
            <br>worldwide</h3>
          <table class="smaller">
            <thead>
              <tr>
                <th>%</th>
                <th>React</th>
                <th>Vue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I've never heard of it</td>
                <td>0</td>
                <td>5</th>
              </tr>
              <tr>
                <td>HEARD of it, and am NOT interested</td>
                <td>11</td>
                <td>21</th>
              </tr>
              <tr>
                <td>I've HEARD of it, and WOULD like to learn it</td>
                <td>27</th>
                <td>51</td>
              </tr>
              <tr>
                <td>I've USED it before, and would NOT use it again</td>
                <td>4</th>
                <td>2</td>
              </tr>
              <tr>
                <td>I've USED it before, and WOULD use it again</td>
                <td>58</th>
                <td>20</td>
              </tr>
            </tbody>
          </table>
        </section>

        <section>
          <h3>Interest & satisfaction
            <br>ForexClub</h3>
          <table class="smaller">
            <thead>
              <tr>
                <th>%</th>
                <th>React</th>
                <th>Vue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I've never heard of it</td>
                <td>0</td>
                <td>0</th>
              </tr>
              <tr>
                <td>HEARD of it, and am NOT interested</td>
                <td>0</td>
                <td>0</th>
              </tr>
              <tr>
                <td>I've HEARD of it, and WOULD like to learn it</td>
                <td>78</th>
                <td>22</td>
              </tr>
              <tr>
                <td>I've USED it before, and would NOT use it again</td>
                <td>22</th>
                <td>0</td>
              </tr>
              <tr>
                <td>I've USED it before, and WOULD use it again</td>
                <td>0</th>
                <td>78</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
      <!-- #endregion community -->

      <!-- #region summary -->
      <section>
        <section>
          <h2>Conclusion</h2>
        </section>

        <section>
          <h3>React Pros</h3>
          <ul>
            <li>Industry standard</li>
            <li>Skilling FEDs with the most popular framework</li>
            <li>Easier hiring of strong FEDs</li>
            <li>More secure future and stability</li>
            <li>Bigger community, lots of tools and packages</li>
            <li>Web and mobile apps can share some code</li>
          </ul>
        </section>

        <section>
          <h3>React Cons</h3>
          <ul>
            <li>Keeping the division between FEDs and BEDs; React requires to learn a lot to become an expert</li>
            <li>Would require much more time to train devs</li>
            <li>Deliver slower (at least for the initial heavy lifting)</li>
          </ul>
        </section>

        <section>
          <h3>Vue Pros</h3>
          <ul>
            <li>Core modules (Vuex, Router) are built-in</li>
            <li>Choosing the “next” thing, and not the “current”</li>
            <li>Being more unique; leading the herd and not following it</li>
            <li>Much faster ramp-up phase, both FEDs and BEDs would feel natural in Vue code</li>
            <li>Better promotes Full-Stack culture; allows cross-product development</li>
          </ul>
        </section>

        <section>
          <h3>Vue Cons</h3>
          <ul>
            <li>Stepping in a more experimental land, not risky, but edgy</li>
            <li>More difficult to find experienced Vue devs</li>
            <li>Fewer plugins and tools available, smaller community</li>
            <li>Not being React-ish, devs don’t gain experience with the most popular framework today</li>
          </ul>
        </section>
      </section>
      <!-- #endregion summary -->

      <section>
        <h2>Thank you!</h2>
      </section>

    </div>
  </div>
  <script src="../node_modules/reveal.js/lib/js/head.min.js"></script>
  <script src="../node_modules/reveal.js/js/reveal.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
